header.main-header
    img.main-header__company-logo(src="img/company_logo.svg" title="Company logo" alt="Company logo")
    img.main-header__title(src="img/win-all-angle.svg" title="Win all" alt="Win all")
    a.main-header__login-link(href="#")
        img.login__icon(src="./img/lock.svg" alt="lock" title="lock")
        p.login__title вход