@import "fonts.css";
@import "vars.css";
@import "_mixin.css";
@import "libs.css";
@import "adjustment.css";

/*
    Components
*/

@import "../components/header/header.css";
@import "../components/item-card/item-card.css";
@import "../components/card/card.css";
@import "../components/other-items/other-items.css";
@import "../components/footer/footer.css";


/*
    Pages
*/

body{
    background: url("../img/bg.png") left top fixed no-repeat;
    background-size: cover;
}

/* wallet */

.wallet__right--wrapper{
    font-family: $fira;
    color: $grey;
}

.wallet__bet-btn{
    position: absolute;
    border: 2px solid #2e3192;
    right: 19%;
    top: 21%;
}

.wallet__wallet-btns--wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 15px;
    position: absolute;
    right: 7%;
    top: 55%;
    transform: translateY(-50%);
}

.wallet__btn{
    display: flex;
    justify-content: center;
    width: 120px;
}

.wallet__img{
    max-size: 15px 18px;
}

.wallet__price{
    margin-left: 10px;
}

/* purchase */

.purchase__right--wrapper{
    font-family: $fira;
    color: $grey;
}

.purchase__bet-btn{
    position: absolute;
    border: 2px solid #2e3192;
    right: 19%;
    top: 19%;
}

.purchase__btn{
    position: absolute;
    border: 2px solid #2e3192;
    right: 2%;
    top: 19%;
}

.purchase__copy-btn{
    position: absolute;
    top: 34%;
    right: 2%;
    border: 1px solid #2e3192;
    size: 29px;
    border-radius: 50%;
    background-color: var(--accent-color);
    @mixin center;
}

.purchase__title{
    position: absolute;
    top: 33%;
    right: 6%;
    width: 240px;
    font-weight: 200;
}

.purchase__code{
    position: absolute;
    top: 40%;
    right: 3%;
    width: 300px;
    font-weight: 200;
}

.purchase__qr-code{
    position: absolute;
    top: 47%;
    right: 28%;
    size: 83px 98px;
}

.purchase__time{
    position: absolute;
    top: 53%;
    right: 9%;
    @mixin fontSize 60;
    font-weight: 200;
}